<div class="row">
  <h1>Zombie News</h1>

  <h2>Here you will find news about zombie activity</h2>

  <%= link_to "About Zombie News", about_path %>

  <% @tweets.each do |tweet| %>
  <p><strong><%= tweet.user.name %></strong>:&nbsp;<a href="<%= tweet.url %>"><%= "#{tweet.user.screen_name}: #{tweet.text}" %></a><br><small><%= tweet.created_at %></small></p>
  <% end %>
</div>